.App {
  text-align: center;
}

.nav{
  background-color: blue;
  color: white;
}

.nav input,.nav button{
  margin: 10px;
}

.img_body{
  margin-top: 20px;
  width: 700px;
}

.regForm input{
  margin-top: 10px;
}
.regForm button{
  margin-top: 10px;
}

.toggleBtn{
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  outline: none;
  margin: 8px;
  text-transform: uppercase;
  border-radius: 4px;
}
.toggleBtn:hover{
  background-color: rgb(21, 55, 56);
}